.DS_Store
/*/build/*
/*/*.mode1v3
/*/*.mode2v3
/*/*.pbxuser
*.mode1v3
*.mode2v3
*.pbxuser
android/.classpath
android/.project
android/.settings
android/bin
android/out
android/classes
android/gen
*.o
xcuserdata
*.xcuserdatad
*.lo
*.la
*.class
#*#
.*.rej
*.rej
.*~
*~
.#*
.DS_Store
*~.nib
*.pbxuser
.xvpics
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserdatad
project.xcworkspace
.svn
*/*/build/*
*/*/Build/*
*/*/*/build/*
*/*/*/Build/*
android/.idea/
android/Vamos Sair.iws.orig
android/classes/
android/gen/
android/out/
iphone/build/

/*/build/
/*/Build/
/*/*/build/
/*/*/Build/
*.orig
R.java
iphone/docs/
#*.iml
*.ipr
*.iws
.idea/
*.suo
bin
obj
Bin
Obj
*.user
Thumbs.db
*.pyc
.metadata
.flashProjectProperties
